body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}


.main_div {
    height: 500px;
    width: 500px;
    background-color: crimson;
    border-radius: 30px;

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.subdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


#bubu {
    height: 250px;
    width: 250px;
}


.button {
    display: flex;
    gap: 30px;
}


#yes {
    height: 100px;
    width: 100px;
    border-radius: 30%;
    font-size: 40px;
    background-color: orange;
    border: none;
    cursor: pointer;
}


#no {
    height: 50px;
    width: 50px;
    border-radius: 30%;
    font-size: 20px;
    background-color: orange;
    border: none;
    cursor: pointer;
}




@media (max-width: 600px) {

    .main_div {
        width: 90vw;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    #bubu {
        width: 180px;
        height: auto;
    }

    h1 {
        font-size: 18px;
        text-align: center;
    }

    .button {
        gap: 20px;
    }

    #yes {
        width: 80px;
        height: 80px;
        font-size: 28px;
    }

    #no {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }
}




@media (min-width: 601px) and (max-width: 900px) {

    .main_div {
        width: 400px;
        height: auto;
        padding: 25px;
    }

    #bubu {
        width: 220px;
        height: auto;
    }

    h1 {
        font-size: 20px;
    }
}
